:root {
  /*FONT-FAMILY*/
  --font-1: "Josefin Sans", sans-serif;
  --font-2: "Delicious Handrawn", cursive;

  /*COLORS*/
  --color-4: #fed049;
  --color-5: #cffde1;
  --color-6: #68b984;
  --color-7: #3d5656;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#contenido {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fed049, #cffde1, #68b984, #3d5656);
}

.container {
  width: 100%;
}

.column {
  width: 100%;
  margin: auto;
}

.agg-notas {
  width: 70%;
  margin: auto;
}

.agg-notas label {
  font-size: 3rem;
  text-align: center;
  font-family: var(--font-1);
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  color: var(--color-7);
}
.agg-notas #formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#formulario textarea {
  margin: auto;
  width: 100%;
  max-width: 900px;
  height: 100px;
  margin-bottom: 16px;
  border-radius: 6px;
  outline: none;
  padding: 8px;
  font-size: 2rem;
  border: none;
  background-color: var(--color-6);
  color: var(--color-7);
  font-family: var(--font-1);
  letter-spacing: 1px;
}

.button{
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: var(--color-7);
    border: none;
    color: var(--color-4);
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: var(--font-1);
    transition: all .3s;
    box-shadow: 0 0 8px 2px var(--color-6);
}
.button:hover{
    background-color: var(--color-6);
    color: var(--color-7);
    box-shadow: 0 0 0px 0px var(--color-7);
    scale: 1.02;
}

.notes{
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-2);
    color: var(--color-7);
}

.error{
  background-color: rgb(255, 157, 157);
  padding: 16px;
  color: var(--color-7);
  font-size: 2rem;
  font-family: var(--font-1);
  font-weight: bold;
  border-radius: 8px;
  margin-top: 32px;
  text-align: center;
  margin: 32px 16px 0 16px;
}

#list-notes{
  max-width: 500px;
  margin: auto;
}
li{
  width: 100%;
  margin: 0 24px 4px 24px;
  color: var(--color-7);
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: start;
  list-style: circle;
}

.borrar-nota{
  float: right;
  background-color: rgb(255, 157, 157);
  border-radius: 50%;
  color: var(--color-7);
  cursor: pointer;
  padding: 3px;
  font-size: 1rem;
}